* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.images img {
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  height: 25rem;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -2rem;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  border-radius: 50%;
}

svg {
  width: 5rem;
  height: 5rem;
}

.active {
  background-color: white;
}
